streamlit
google-generativeai
transformers
torch
langchain
faiss-cpu
sentence-transformers
PyMuPDF
PyPDF2
pytesseract
pdf2image
opencv-python
matplotlib
pandas
numpy
googletrans==4.0.0rc1
SpeechRecognition
gTTS